@model AspNetCore.ViewModel.HomeUI
@{
    ViewData["Title"] = "Home Page";

    var big = Model.Parent;
    var publish = Model.HoustList;
    var children = Model.Children;
}

<div class="container mt-3" style="margin-top:20px;">

    <form class="form-inline" asp-controller="Home" asp-action="Index" method="get" role="form" name="formSave" id="formSave">
        <div class="form-group">
            <label for="exampleInputName2">大类</label>
            <select class="form-control" id="ParentType" name="ParentType" onchange="bookModule.selectSubType('ParentType','SubType')">
                <option value="0">选择大类</option>
                @foreach (var item in big)
                {
                    <option value="@item.BookTypeId">@item.TypeName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">小类</label>
            <select class="form-control" id="SubType" name="SubType">
                <option value="0">选择小类</option>
                @if (children != null && children.Count() > 0)
                {
                    foreach (var item in children)
                    {
                        <option value="@item.BookTypeId">@item.TypeName</option>
                    }
                }

            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">出版社</label>
            <select class="form-control" id="PublishHouseId" name="PublishHouseId">
                <option value="0">选择出版社</option>
                @foreach (var item in publish)
                {
                    <option value="@item.PublishHouseID">@item.PublishName</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
    </form>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>书名</th>
            <th>原价</th>
            <th>实际价格</th>
            <th>作者</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.QueryList)
        {
            <tr>
                <td>@item.BookName</td>
                <td>@item.CostPrice</td>
                <td>@item.RealPrice</td>
                <td>@item.Author</td>

            </tr>
        }
    </tbody>
</table>

<div class="page">
    <ul id="page"></ul>
</div>

@*<div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>*@

@section scripts{
    <script>
        $(function () {

            var bookObj = {
                init: function () {
                    this.bind();
                },
                bind: function () {

                    $("#ParentType").val(@Model.ParentType);
                    $("#SubType").val(@Model.SubType);
                    $("#PublishHouseId").val(@Model.PublishHouseId)

                     var currentPage = @Model.QueryList.PageIndex;
                    var totalPages = @Model.QueryList.TotalPageNum;
                    var url ="/Home?ParentType=@Model.ParentType&SubType=@Model.SubType&PublishHouseId=@Model.PublishHouseId";
		            $("#page").bootstrapPaginator({
			            bootstrapMajorVersion: 3, //对应的bootstrap版本
			            currentPage: currentPage, //当前页数
			            numberOfPages: @Model.QueryList.PageSize, //每次显示页数
			            totalPages: totalPages, //总页数
			            shouldShowPage: true, //是否显示该按钮
			            useBootstrapTooltip: true,
			            onPageClicked: function(event, originalEvent, type, page) {
                            window.location.href = url + "&pageIndex=" + page;
			            }
		            });


                }
            }
            bookObj.init();
        });
    </script>
    <script src="~/js/bootstrap-paginator.js"></script>
}



